/* Header.module.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  box-sizing: border-box;
}
.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(50px);
}

.logo {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background: white;
  font-weight: 500;
  font-size: 1rem;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.logo img {
  height: 24px;
  margin-right: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap:16px;
}

.nav a {
  color: black;
  font-weight: 300;
  font-size: 0.95rem;
  text-decoration: none;
  position: relative;
  padding: 4px 0;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #2673f0;
}

.nav a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #2673f0;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.requestDemoButton {
  background-color: #1c1b1b;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  outline: none;
}

.requestDemoButton::after {
  content: '▶';
  font-size: 0.85em;
  color: #2673f0;
}

.requestDemoButton:hover {
  background-color: #333;
  transform: translateY(-1px);
  transition: all 0.2s ease;
}
