/* src/components/ScrollDownIndicator/ScrollDownIndicator.module.css */
.scrollDown {
  display: flex;
  align-items: center;
  gap: 8px; /* spacing between text and arrow */
  font-size: 16px;
  font-weight: 500;
  
}

.arrow {
  color: #007BFF; /* Bootstrap blue, adjust if needed */
  font-size: 18px;
   animation: bounce 5s infinite; /* Simple bouncing animation */
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}